* {
    font-family: "Noto Sans KR";
}

body {
    background-color: #FDFAF6;
}

/* 네비게이션 */
.nav {
    z-index: 9999;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: end;
}

.nav ul {
    position: relative;
    display: flex;
    height: fit-content;
    padding: 1.2rem 0.8rem;
    background-color: rgb(253 250 246 / 100%);
    border-bottom-left-radius: 25px;
    box-shadow: -3px 3px 15px rgba(0, 0, 0, 0.12), 0 3px 15px rgba(0, 0, 0, 0.24);
}

.nav ul li {
    padding: 0 2.5vh;
}

.nav ul li:hover {
    transform: scale(1.3);
    transition-duration: 0.2s;
}

.nav ul li a {
    position: relative;
    font-size: 2rem;
}

.nav_btn {
    position: absolute;
    border: 1px solid #4f772d;
    text-align: center;
    border-radius: 50%;
    color: #4f772d;
    font-size: 2rem;
    top: 15%;
    right: 40%;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    transform: rotate(90deg) scaleX(-1);
}

.nav_btn i {
    transform: rotate(180deg);
}

.nav.click ul {
    top: -1000px;
}

.nav.click .nav_btn {
    right: 1rem !important;
}

.nav.click .nav_btn i {
    transform: rotate(0deg);
}


/* 인트로 */
.cont_intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #99BC85;
}

.intro_img {
    width: 20vh;
    margin: 0 auto
}

.intro_img img {
    width: 100%;
}

.intro_title {
    position: relative;
    margin-top: 3rem;
    color: #FDFAF6;
    font-size: 5rem;
    font-weight: 900;
}

.intro_title span {
    position: relative;
}

.intro_text {
    position: relative;
    color: #FDFAF6;
    font-size: 4rem;
    font-weight: 700;
}

.intro_text #typing {
    color: #FAF1E6;
}

.intro_description {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.intro_description p {
    position: relative;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 500;
    color: #333;
}

.intro_description p .g_color {
    font-weight: 500;
    background-color: #4f772d;
    color: #fff;
    padding: 0 0.2rem;
}

/* 히스토리 */
.cont_history {
    padding: 10rem 1rem 0;
    background: linear-gradient(#99BC85, #ffffff00);
}

.history_inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.history_title {
    color: #4f772d;
    font-weight: 900;
    font-size: 2.5rem;
}

.history_wrap {
    color: #555;
    line-height: 1.5;
    margin-top: 2rem;
    padding-left: 1.2rem
}

.histroy_list {
    position: relative;
}

.histroy_list:not(:last-child) {
    margin-bottom: 1.5rem;
}

.history_box {
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.history_name {
    font-size: 1.6rem;
    font-weight: 600;
}

.history_des {
    font-size: 1.5rem;
}

.history_duration {
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: 0.5rem;
}

/* 자격증 */
.cont_license {
    padding: 10rem 1rem 0;
}


.license_inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.license_title {
    color: #4f772d;
    font-weight: 900;
    font-size: 2.5rem;
}

.license_wrap {
    color: #555;
    line-height: 1.5;
    margin-top: 2rem;
    padding-left: 1.2rem
}


.license_list {
    position: relative;
}

.license_list:not(:last-child) {
    margin-bottom: 1.5rem;
}

.license_box {
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.license_name {
    font-size: 1.6rem;
    font-weight: 600;
}

.license_des {
    font-size: 1.5rem;
}

.license_duration {
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: 0.5rem;
}

/* 스킬 */
.cont_skill {
    padding: 10rem 1rem 0;
}


.skill_inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.skill_title {
    color: #4f772d;
    font-weight: 900;
    font-size: 2.5rem;
}

.cont_skill .swiper {
    width: 100%;
    margin-top: 2rem;
}

.cont_skill .swiper-wrapper {
    width: 100%;
}

.cont_skill .swiper-slide img {
    width: 100%;
}

/* 활동 */
.cont_active {
    padding: 10rem 1rem 0;
}

.active_inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.active_title {
    color: #4f772d;
    font-weight: 900;
    font-size: 2.5rem;
}

.active_wrap {
    max-width: 950px;
    margin: 2rem auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
}

.active_list {
    position: relative;
    max-width: calc(100vw / 2.5);
    margin: 0 auto;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 7px 7px 30px #555555ad;
}

.active_list a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.active_list img {
    width: 100%;
}

.active_list .active_hover {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#ffffff00, #000000);
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 2rem;
}

.active_list a:hover .active_hover {
    opacity: 1;
    transition-duration: 0.5s;
}

.active_list .active_hover .twrap .tit {
    font-weight: 900;
    font-size: 2rem;
    color: #fff;
}

.active_list .active_hover .twrap .txt {
    font-size: 1rem;
    color: #ffffff8f;
    padding-top: .5rem;
}

/* bye */
.cont_bye {
    padding: 10rem 1rem;
}

.bye_inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.bye_title {
    color: #4f772d;
    font-size: 2.2rem;
    font-weight: 400;
}

.bye_title .txt_block {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-wrap: nowrap;
}

.bye_icon {
    font-size: 2.5rem;
    color: #4f772d;
    animation-name: byeicon;
    animation-duration: .8s;
    animation-iteration-count: infinite;
}

/* from-to */
@keyframes byeicon {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg)
    }
}

.bye_mail {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    color: #4f772d;
    font-weight: 900;
    transition: all 2s;
}

.bye_mail:hover {
    font-size: 2.2rem;
}

/* 반응형 */
@media (max-width: 375px) {
    .intro_description p {
        font-size: 1.2rem !important
    }
}

/* 모바일 */
@media (max-width: 767px) {
    .nav_wrap {
        padding: 0 !important;
        flex-direction: column;
        align-items: center;
    }

    .nav ul li {
        padding: 1.5vh 2.5vh;
    }

    .nav_btn {
        right: 1rem !important;
        bottom: -22%;
        top: auto;
        transform: rotate(180deg);
    }

    .nav.click .nav_btn {
        top: 3%;
    }

    /* intro */
    .intro_title {
        font-size: 3rem;
    }

    .intro_text {
        font-size: 2.5rem;
    }

    .intro_description p {
        font-size: 1.5rem;
    }

    .intro_description p i {
        display: inline-block;
    }

    .intro_description {
        margin-top: 1.5rem;
    }

    .intro_title {
        margin-top: 1rem;
    }

    /* history */
    .cont_history {
        display: flex;
        align-items: center;
    }

    .history_box {
        flex-direction: column;
        gap: 0;
    }

    .history_duration {
        padding: 0;
    }

    .histroy_list:not(:last-child) {
        margin-bottom: 2rem;
    }

    .history_name {
        font-size: 1.5rem;
    }

    .history_des {
        font-size: 1.3rem;
    }

    /* license */
    .license_box {
        flex-direction: column;
        gap: 0;
    }

    .license_duration {
        padding: 0;
    }

    .license_list:not(:last-child) {
        margin-bottom: 2rem;
    }

    .license_name {
        font-size: 1.5rem;
    }

    .license_des {
        font-size: 1.3rem;
    }

    /* skill */
    .cont_skill {
        padding: 5rem 1rem 0;
    }

    /* active */
    .cont_active {
        padding: 5rem 1rem 0;
    }

    .active_list .active_hover {
        opacity: 1;
        padding: 0.5rem 0.5rem 1rem;
    }

    .active_list .active_hover .twrap .tit {
        font-size: 1.5rem;
    }

    .active_list .active_hover .twrap .txt {
        font-size: 0.8rem;
        padding-top: 0;
    }

    /* bye */
    .bye_title {
        font-size: 1.5rem;
        text-align: center;
    }

    .txt_block {
        display: flex;
        flex-direction: column;
    }
}

/* 테블릿 세로 */
@media (min-width: 768px) and (max-width: 991px) {

    /* nav */
    .nav_btn {
        right: 27.5rem;
        top: 15%;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        font-size: 2rem;
        transform: rotate(270deg) scaleY(-1);
    }

    .nav ul {
        padding: 1rem 0.5rem;
    }

    .nav ul li {
        padding: 0 2vh;
    }

    .nav ul li a {
        font-size: 2rem;
    }

    /* intro */
    .intro_description p {
        font-size: 1.5rem;
    }

    /* history */
    .history_box {
        flex-direction: column;
        gap: 0.5rem;
    }

    .history_title {
        font-size: 3rem;
    }

    .history_des {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
    }

    .histroy_list:not(:last-child) {
        margin-bottom: 2.5rem;
    }

    .history_duration {
        font-size: 1.5rem;
    }

    .history_name {
        font-size: 2rem;
    }

    /* license */
    .license_box {
        flex-direction: column;
        gap: 0.5rem;
    }

    .license_title {
        font-size: 3rem;
    }

    .license_des {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
    }

    .license_list:not(:last-child) {
        margin-bottom: 2.5rem;
    }

    .license_duration {
        font-size: 1.5rem;
    }

    .license_name {
        font-size: 2rem;
    }

    /* active */
    .active_list .active_hover {
        opacity: 1;
        padding: 0rem 1rem 1.5rem;
    }

    .active_list .active_hover .twrap .tit {
        font-size: 2.5rem;
    }

    .active_list .active_hover .twrap .txt {
        font-size: 1.5rem;
    }

    /* bye */
    .bye_title {
        text-align: center;
    }

    .txt_block {
        display: flex;
        flex-direction: column;
    }

}

/* 테블릿 가로 */
@media (min-width: 992px) and (max-width: 1199px) {

    /* nav */
    .nav_btn {
        right: 27.5rem;
        top: 15%;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        font-size: 2rem;
        transform: rotate(270deg) scaleY(-1);
    }

    .nav ul {
        padding: 1rem 0.5rem;
    }

    .nav ul li {
        padding: 0 2vh;
    }

    .nav ul li a {
        font-size: 2rem;
    }

    /* active */
    .active_list .active_hover {
        opacity: 1;
        padding: 0rem 1rem 1.5rem;
    }

    .active_list .active_hover .twrap .tit {
        font-size: 2.5rem;
    }

    .active_list .active_hover .twrap .txt {
        font-size: 1.5rem;
    }
}